
- # under the MIT license, see LICENSE.txt

%h1 error #{@error.fei.sid}

%table.details

  %tr
    %td
      id
    %td
      = @error.fei.sid

  %tr
    %td
      action / direction
    %td
      &= @error.action

  %tr
    %td
      message
    %td
      &= @error.message

  %tr
    %td
      trace
    %td
      %pre.trace{ :onclick => 'Rk.toggleNext(this);' } #{h(@error.trace[0, 80] + '...')}
      %pre.trace{ :onclick => 'Rk.toggleNext(this);', :style => 'display: none;' } #{h(@error.trace)}

  %tr
    %td.no_border{ :colspan => 2 }
      &nbsp;

  %tr
    %td
      expression
    %td
      GET
      = alink(:expressions, @error.fei.sid)
      %span.explanation
        you can re-apply the expression (and hopefully nuke the error) from there
  %tr
    %td
      process
    %td
      GET
      = alink(:processes, @error.wfid)
  %tr
    %td
      errors of this process
    %td
      GET
      = alink(:errors, @error.wfid)

  %tr
    %td.no_border{ :colspan => 2 }
      &nbsp;
  %tr
    %td
    %td
      %form{ :method => 'POST' }
        %input{ :type => 'hidden', :name => '_method', :value => 'DELETE' }
        %input{ :type => 'submit', :value => "DELETE /_ruote/errors/#{@error.fei.sid}", :title => 'replay at this error' }
        %span.explanation
          replay at this error

