
- # under the MIT license, see LICENSE.txt

%h1 error #{@error.fei.sid}

.options
  %ul
    %li
      %form{ :method => 'post' }
        %input{ :type => 'hidden', :name => '_method', :value => 'delete' }
        %input{ :type => 'submit', :value => 'replay' }
        %span.description DELETE /_ruote/errors/#{@error.fei.sid}

%ul
  %li id: #{@error.fei.inspect}
  %li process: #{alink(:processes, @error.fei.wfid)}
  %li message: #{@error.message}

