
- # under the MIT license, see LICENSE.txt

%h1 errors

= haml :_pagination, :layout => false

%table.list

  %thead
    %td
      error
    %td
      process
    %td
      message
    %td
      at
    %td
      action

  - @errors.each do |error|
    %tr
      %td
        = alink(:errors, error.fei.sid)
      %td
        = alink(:errors, error.wfid)
      %td
        &= error.message
      %td
        = Time.parse(error.at).localtime.strftime('%Y/%m/%d %H:%M:%S')
      %td
        &= error.action

