
- # under the MIT license, see LICENSE.txt

- @_uses_fluo = true

%h1 expressions for #{@process.wfid}

%canvas#fluo

%table.list{ :style => 'width: auto;', :onmouseout => "Fluo.highlight('fluo')" }

  %thead
    %td fei
    %td expid
    %td exp
    %td applied
    %td state


  - @process.expressions.each do |expression|
    %tr{ :onmouseover => "Fluo.highlight('fluo', '#{expression.fei.expid}')" }
      %td
        = alink(:expressions, expression.fei.sid, :text => [ expression.fei.wfid, expression.fei.expid ].join(' '))
      %td
        &= expression.fei.expid
      %td
        &= expression.tree.first
      %td
        = Time.parse(expression.h.put_at).localtime.strftime('%Y/%m/%d %H:%M:%S')
      %td
        = expression.state

:javascript

  var proc_rep = #{process_tree(@process)};
  Fluo.renderFlow('fluo', proc_rep);
  Fluo.crop('fluo');
  Fluo.resizeForMaxWidth('fluo', $('body').width() / 2.1);

