
- # under the MIT license, see LICENSE.txt

- @_uses_fluo = true

- unless @process

  %h1 expressions
  .flash
    .message
      .notice
        %p Expressions are atomic pieces of process instances.
        %p Have a look at the <a href="/_ruote/processes">processes</a> and then follow their links to their set of expressions.

- else

  %h1 expressions for #{@process.wfid}

  %canvas#fluo

  %ul
    - @process.expressions.each do |expression|
      %li
        = alink(:expressions, expression.fei.sid)
        %ul
          %li id: #{expression.fei.sid}
          %li class: #{expression.class.name}
          %li name: #{expression.respond_to?(:participant_name) ? expression.participant_name : expression.name}

:javascript
  var proc_rep = #{process_tree(@process)};
  Fluo.renderFlow('fluo', proc_rep);
  Fluo.crop('fluo');

