
- # under the MIT license, see LICENSE.txt

- @_uses_fluo = true

%h1 expressions for #{@process.wfid}

#fluo

%table.list.expressions

  %thead
    %td fei
    %td expid
    %td exp
    %td applied
    %td state


  - @process.expressions.each do |expression|
    %tr{ 'data-rk-expid' => expression.fei.expid }
      %td
        = alink(:expressions, expression.fei.sid, :text => [ expression.fei.wfid, expression.fei.expid ].join(' '))
      %td
        &= expression.fei.expid
      %td
        &= expression.tree.first
      %td
        = Time.parse(expression.h.put_at).localtime.strftime('%Y/%m/%d %H:%M:%S')
      %td
        = expression.state

:javascript

  $(document).ready(function() {

    Rk.fitFluo();

    var proc_rep = #{process_tree(@process)};
    RuoteFluo.render('fluo', proc_rep, { fit: 'down' });

    $('table.list').on('mouseout', function(ev) {
      RuoteFluo.highlight('#fluo');
    });
    $('tr').on('mouseover', function(ev) {
      $tr = $(ev.target).closest('tr');
      RuoteFluo.highlight('#fluo', $tr.attr('data-rk-expid'));
    });
  });

