
- # under the MIT license, see LICENSE.txt

- @_uses_fluo = true

%h1 expression #{@expression.fei.sid}

.options
  %ul
    %li
      %form{ :method => 'post' }
        %input{ :type => 'hidden', :name => '_method', :value => 'delete' }
        %input{ :type => 'submit', :value => 'cancel' }
        %span.description DELETE /_ruote/expressions/#{@expression.fei.sid}
    %li
      %form{ :method => 'post' }
        %input{ :type => 'hidden', :name => '_method', :value => 'delete' }
        %input{ :type => 'hidden', :name => '_kill', :value => '1' }
        %input{ :type => 'submit', :value => 'kill' }
        %span.description DELETE /_ruote/expressions/#{@expression.fei.sid}?_kill=1

%ul
  %li id: #{@expression.fei.sid}
  %li class: #{@expression.class.name}
  %li name: #{@expression.respond_to?(:participant_name) ? @expression.participant_name : @expression.name}
  %li process: #{alink(:processes, @process.wfid)}
  %li
    process expressions:
    %a{ :href => "/_ruote/expressions/#{@process.wfid}" } GET /_ruote/expressions/#{@process.wfid}
  - if @expression.parent
    %li parent expression: #{alink(:expressions, @expression.parent.fei.sid)}

%canvas#fluo

:javascript
  var proc_rep = #{process_tree(@process)};
  Fluo.renderFlow('fluo', proc_rep);
  Fluo.crop('fluo');
  Fluo.highlight('fluo', '#{@expression.fei.expid}');

