!!!
%html
  %head

    %title ruote-kit

    %link{ :type => 'text/css', :href => '/_ruote/stylesheets/reset.css', :rel => 'stylesheet' }
    %link{ :type => 'text/css', :href => '/_ruote/stylesheets/rk.css', :rel => 'stylesheet' }

    %script{ :type => 'text/javascript', :src => '/_ruote/javascripts/jquery-1.4.2.min.js' }
    %script{ :type => 'text/javascript', :src => '/_ruote/javascripts/rk.js' }

    - if @_uses_fluo
      %script{ :type => 'text/javascript', :src => '/_ruote/javascripts/ruote-fluo.js' }
      - #%script{ :type => "text/javascript", :src => "/_ruote/javascripts/fluo-dial.js" }

  %body
    #container

      #header

        #logo
          %img{ :src => '/_ruote/images/ruote.png' }
        #ruote_kit
          ruote-kit
        #main_navigation
          = link_to 'processes', '/_ruote/processes'
          |
          = link_to 'workitems', '/_ruote/workitems'
          |
          = link_to 'errors', '/_ruote/errors'
          |
          = link_to 'participants', '/_ruote/participants'
          ||
          = link_to 'launch process', '/_ruote/processes/new'

      #main
        = yield

      #footer
        %div
          &copy; 2009-2010 Kenneth Kalmer
          |
          %a{ :href => 'http://www.opensourcery.co.za' } blog
          |
          %a{ :href => 'http://github.com/kennethkalmer/ruote-kit' } source
          |
          %a{ :href => 'http://ruote.rubyforge.org' } powered by ruote

