
- # under the MIT license, see LICENSE.txt

!!!
%html
  %head

    %title ruote-kit

    %link{ :type => 'image/vnd.microsoft.icon', :href => url('/_ruote/images/favicon.ico'), :rel => 'icon' }

    %link{ :type => 'text/css', :href => url('/_ruote/stylesheets/reset.css'), :rel => 'stylesheet' }
    %link{ :type => 'text/css', :href => url('/_ruote/stylesheets/rk.css'), :rel => 'stylesheet' }

    %script{ :type => 'text/javascript', :src => url('/_ruote/javascripts/jquery.min.js') }
    %script{ :type => 'text/javascript', :src => url('/_ruote/javascripts/rk.js') }

    - if @_uses_fluo
      %script{ :type => 'text/javascript', :src => url('/_ruote/javascripts/ruote-fluo.js') }
      %script{ :type => 'text/javascript', :src => url('/_ruote/javascripts/ruote-fluo-editor.js') }
      %link{ :type => 'text/css', :href => url('/_ruote/stylesheets/ruote-fluo-editor.css'), :rel => 'stylesheet' }

  %body
    #container

      #header
        #hlogo
          %img{ :src => url('/_ruote/images/ruote.png') }
        #htext
          #ruote_kit
            ruote-kit
          #main_navigation
            = alink(:processes, :head, :text => 'processes')
            |
            = alink(:workitems, :head, :text => 'workitems')
            |
            = alink(:errors, :head, :text => 'errors')
            |
            = alink(:schedules, :head, :text => 'schedules')
            |
            = alink(:participants, :text => 'participants')
            ||
            %a{ :href => url('/_ruote/processes/new') } launch process
        #hclear

      #main
        = yield

      - unless request.path.match(/\/processes\/new/)
        #as_json
          %a{ :href => as_json, :title => 'same page, but as JSON' }
            as JSON

      #footer
        %div
          &copy; 2009-2011 Kenneth Kalmer
          |
          %a{ :href => 'http://www.opensourcery.co.za' } blog
          |
          %a{ :href => 'http://github.com/tosch/ruote-kit' } source
          |
          %a{ :href => 'http://ruote.rubyforge.org' } powered by ruote

