
%h1 processes

.flash
  .message
    - if @processes.empty?
      .warn
        %p No processes are currently running
    - else
      .notice
        %p Currently running #{@processes.size} processes

%table.list
  %thead
    %td
      wfid
    %td
      name
    %td
      position
    %td
      tags
    %td
      launched
    %td
      last active
    %td
      exps
    %td
      errs
    %td
      wis

  - @processes.each do |process|
    %tr
      %td
        = alink(:processes, process.wfid, :text => process.wfid)
      %td
        &= process.definition_name
        &= process.definition_revision ? "(#{process.definition_revision})" : ''
      %td
        - process.position(:task).each do |pos|
          &= pos.join(' ')
      %td
        &= process.tags.join(', ')
      %td
        = Time.parse(process.launched_time).to_s
      %td
        = Time.parse(process.last_active).to_s
      %td.right{ :title => 'expressions' }
        = alink(:expressions, process.wfid, :text => process.expressions.size)
      %td.right{ :title => 'errors' }
        = alink(:errors, process.wfid, :text => process.errors.size)
      %td.right{ :title => 'workitems' }
        = alink(:workitems, process.wfid, :text => process.position.size)

