
- # under the MIT license, see LICENSE.txt

%h1 failed to launch process

.flash
  .message.error

    %div
      %pre
        = @exception.message

    %div
      definition : 
      = Rufus::Json.encode( [ @info.definition ] )
    %div
      fields : 
      = Rufus::Json.encode( [ @info.fields ] )
    %div
      variables : 
      = Rufus::Json.encode( [ @info.variables ] )

    %div.togglable{ :onclick => "Rk.toggle(this, $('pre.trace'), 'show trace', 'hide trace', true);" }
      show trace
    %pre.trace #{@exception.backtrace.join("\n")}

    %div
      %a{ :href => "javascript:history.go(-1)" } back

:javascript

  $('pre.trace').hide();

