- @_uses_fluo = true

%h2
  = @process.wfid
  (#{@process.definition_name})

.options
  %ul.nolist
    /
      %li.b5
        %form{ :method => 'post' }
          %input{ :type => 'hidden', :name => '_method', :value => 'put' }
          = button "Pause", 'force-block'
          %span.description PUT /_ruote/processes/#{@process.wfid}?_pause=1
    %li.b5
      %form{ :method => 'post' }
        %input{ :type => 'hidden', :name => '_method', :value => 'delete' }
        = button "Cancel", "cancel force-block"
        %span.description DELETE /_ruote/processes/#{@process.wfid}
    %li.b5
      %form{ :method => 'post' }
        %input{ :type => 'hidden', :name => '_method', :value => 'delete' }
        %input{ :type => 'hidden', :name => '_kill', :value => '1' }
        = button "Kill", "cancel force-block"
        %span.description DELETE /_ruote/processes/#{@process.wfid}?_kill=1

%ul.nolist
  %li wfid: #{@process.wfid}
  %li launch: #{@process.launched_time}
  /%li paused:
  %li: tags: #{@process.all_tags.keys.join(', ')}
  %li
    expressions:
    %a{ :href => "/_ruote/expressions/#{@process.wfid}" } GET /_ruote/expressions/#{@process.wfid}
  %li
    workitems:
    %a{ :href => "/_ruote/workitems/#{@process.wfid}" } GET /_ruote/workitems/#{@process.wfid}
  %li errors: #{@process.errors.size}

%ul
  %li TODO
  %li Branches
  %li Process variables
  %li Scheduled jobs
  %li Active expression
  %li Tree

%p &nbsp;

%canvas#fluo

:javascript
  var proc_rep = #{process_tree( @process )};
  FluoCan.renderFlow( 'fluo', proc_rep );
  FluoCan.crop('fluo');
