%h2 Processes

.flash
  .message
    - if @processes.empty?
      .warn
        %p No processes are currently running
    - else
      .notice
        %p Currently running #{@processes.size} processes

%ul.nested_list
  - @processes.each do |process|
    %li
      = link_to process
      %ul.nested_details
        %li wfid: #{process.wfid}
        %li process: #{process.definition_name} (#{process.definition_revision})
        %li launched: #{process.launched_time}
        %li tags: #{process.all_tags.keys.join(', ')}
        %li
          expressions:
          %a{ :href => "/_ruote/expressions/#{process.wfid}" } GET /_ruote/expressions/#{process.wfid}
        %li
          workitems:
          %a{ :href => "/_ruote/workitems/#{process.wfid}" } GET /_ruote/workitems/#{process.wfid}
        %li errors: #{process.errors.size}
