
%h1 failed to launch process

.flash
  .message.error

    %div
      %pre
        = @exception.message

    %div
      definition : 
      = Rufus::Json.encode(@info.definition)
    %div
      fields : 
      = Rufus::Json.encode(@info.fields)
    %div
      variables : 
      = Rufus::Json.encode(@info.variables)

    %div.trace
      (trace)
    %pre.trace #{@exception.backtrace.join("\n")}

    %div
      %a{ :href => "javascript:history.go(-1)" } back

