
- # under the MIT license, see LICENSE.txt

%h1
  workitems
  = @wfid ? "for #{@wfid}" : ''

= haml :_pagination, :layout => false

%table.list

  %thead
    %td
      id
    %td
      process
    %td
      participant
    %td
      params
    %td
      dispatched at
    %td
      fields

  - @workitems.each do |wi|
    %tr
      %td
        = alink(:workitems, wi.fei.sid, :text => wi.fei.sid)
      %td
        = alink(:processes, wi.wfid, :text => wi.wfid)
      %td
        &= wi.participant_name
      %td
        - params = (wi.fields['params'] || {}).dup
        - params.delete('ref')
        &= Rufus::Json.encode(params)[1..-2]
      %td
        - if wi.dispatched_at
          = Time.parse(wi.dispatched_at).localtime.strftime('%Y/%m/%d %H:%M:%S')
      %td
        - fields = wi.fields.dup
        - fields.delete('params')
        - fields.delete('dispatched_at')
        = Rufus::Json.encode(fields)[1..-2][0, 28]

