%h2 Workitems

- if @workitems.empty?
  .warn
    No workitems are currently available #{ @wfid ? "for #{@wfid}" : '' }

- else
  .info #{ pluralize(@workitems.size, 'workitem') } available #{ @wfid ? "for #{@wfid}" : '' }

  %ul
    - @workitems.each do |wi|
      %li
        = link_to wi
