%h2 Workitems

.flash
  .message
    - if @workitems.empty?
      .warn
        %p No workitems are currently available #{ @wfid ? "for #{@wfid}" : '' }
    - else
      .notice
        %p #{ pluralize(@workitems.size, 'workitem') } available #{ @wfid ? "for #{@wfid}" : '' }

    - if @participants
      .notice
        %p Filtered for participant(s): #{@participants.join(', ')}

%ul.nested_list
  - @workitems.each do |wi|
    %li
      = link_to wi
      %ul.nested_details
        %li fei: #{wi.fei.to_s}
        %li participant: #{wi.participant_name}
        %li dispath time: TODO
